.skills-section {
    height: 100vh;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
}

.skills-container {
    /*     margin: 50px auto; */
    height: 70vh;
    width: 100%;
    margin: 0;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.skills-container p {
    font-size: 1.2rem;
    /*     margin-bottom: 30px; */
}

.my-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
    width: 85%;
}

.skill {
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.105);
    width: 120px;
    height: 120px;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

.skill p {
    font-size: 1.1rem;
    margin: auto;
}

.skill-icon {
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    margin: auto;
    transition: all 0.3s ease;
    filter: sepia(0%) hue-rotate(0deg) brightness(90%) saturate(100%);
    /* Adjust as needed */
}

.skill:hover {
    box-shadow: 0 0 20px #56565677;
}

.skill:hover .skill-icon {
    transform: scale(1.1);
    /* Scale up only the icon */
}

.skill-title {
    font-size: 1rem;
}