.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10vw;
    box-sizing: border-box;
    overflow-x: hidden;
    /* background: linear-gradient(to top right, white, white 80%, #c4e3ff 100%); */
    position: relative;
}

.content {
    width: 50%;
    text-align: left;
    z-index: 1;
    /*     background-color: #69b6ff; */
}

.content h1,
.content h2 {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content h2 {
    font-size: 4rem;
    color: #616161;
    margin-bottom: 2rem;
}

.content p {
    font-size: 1.2rem;
    color: #7f7f7f;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.content button {
    background-color: #69b6ff;
    border: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content button:hover {
    background-color: #9ed0ff;
}

.social-links {
    display: flex;
    align-items: center;
    /*     margin-top: 2rem; */
}

.social-links a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #212121;
    margin-right: 1rem;
    text-decoration: none;
    overflow: hidden;
    font-size: 1.5rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.social-links a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #673ab7;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
}

.social-links a:hover::before {
    transform: scaleX(1);
}

.social-links a:hover {
    color: rgb(0, 31, 125);
    background-color: rgb(210, 221, 255);
}

.mob-image-container,
.image-container {
    width: 340px;
    height: 380px;
    overflow: hidden;
    border-radius: 10px;
    transform: rotate(5deg);
    transition: transform 0.3s ease;
    z-index: 1;
}

.mob-image-container:hover,
.image-container:hover {
    transform: rotate(0deg);
}

.mob-image-container img,
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mob-image-container {
    display: none;
    margin: auto;
    margin-bottom: 5vh;
}

.letter-container {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.letter {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15rem;
    font-weight: bold;
    color: transparent;
    /* background: linear-gradient(135deg, #00b4d8, #0096c7); */
    -webkit-background-clip: text;
    background-clip: text;
    color: #fff;
    /* White text color */
    text-shadow:
        1px 1px 0 #aaccff,
        -1px -1px 0 #aaccff,
        1px -1px 0 #aaccff,
        -1px 1px 0 #aaccff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    animation: pump 3s ease-in-out infinite;
    user-select: none;
}

.about-links {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@keyframes pump {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@media (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .about-container {
        flex-direction: column;
        padding: 3vw;
    }

    .content {
        width: 100%;
    }

    .letter-container {
        display: none;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content h2 {
        font-size: 2.5rem;
    }

    .content p {
        font-size: 1.7rem;
    }

    .content button {
        font-size: large;
    }

    .image-container {
        display: none;
    }

    .mob-image-container {
        display: block;
    }

    .about-links {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
}