/* Header Styling */
header {
  background-color: #ffffff00;
  color: #000000;
  padding: 15px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

header.scrolled {
  background-color: #ffffffaf;
  padding: 10px 0;
}

/* Flex container for header elements */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*   max-width: 1200px; */
  margin: 0;
  padding: 0 20px;
}

/* Email Styling */
.email a {
  color: #0e6bdd;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.email a:hover {
  color: #9ed0ff;
}

/* Navigation Styling */
nav {
  display: flex;
  align-items: center;
}

nav .contact-a {
  color: #ffffff;
  background: linear-gradient(90deg, #001cbd, #41a0f8);
  padding: 0.6rem 1rem;
  border-radius: 25px;
  transition: background-position 0.3s ease;
  background-size: 200% 100%;
  /* Ensure the gradient is wider than the element */
  background-position: 0% 0%;
  /* Start the gradient on the left */
}

nav .contact-a:hover {
  color: #ffffff;
  background-position: right;
  background-position: 100% 0%;
}

nav .contact-a::after {
  display: none;
}

nav a {
  color: #0e6bdd;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: #005db3;
  transition: width 0.3s;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

nav a:hover::after {
  width: 100%;
}