/* Header Styling */
header {
  background-color: #00000000;
  color: #000000;
  padding: 15px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
  height: 40px;
  max-width: 100%;
}

header.scrolled {
  background-color: #ffffffaf;
  padding: 10px 0;
}

/* Flex container for header elements */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 20px;
}

.email-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  /* Adjusted for better responsiveness */
}

.email-div img {
  margin-right: 10px;
  /* Space between logo and email */
}

/* Email Styling */
.email {
  color: #0e6bdd;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.email:hover {
  color: #9ed0ff;
}

/* Navigation Styling */
nav {
  display: flex;
  align-items: center;
}

nav a {
  color: #0e6bdd;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: #005db3;
  transition: width 0.3s;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

nav a:hover::after {
  width: 100%;
}

.contact-a {
  color: #ffffff;
  background: linear-gradient(90deg, #001cbd, #41a0f8);
  padding: 0.6rem 1rem;
  border-radius: 25px;
  transition: background-position 0.3s ease;
  background-size: 200% 100%;
  background-position: 0% 0%;
  text-decoration: none;
  font-weight: 600;
}

.contact-a:hover {
  color: #ffffff;
  background-position: 100% 0%;
}

.contact-a::after {
  display: none;
}

.mob-contact-a {
  display: none;
}

.menu-button {
  display: none;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-button i {
  color: #ffffff;
  font-size: 2rem;
}

.menu-button:hover {
  background-color: #005db3;
  transform: scale(1.05);
}

.menu-button:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  header {
    position: static;
  }

  .header-container {
    flex-direction: column;
    padding: 0 0rem;
    transition: max-height 0.5s ease-out;
    max-height: 0;
  }

  .header-container.show {
    max-height: 100vh;
  }

  .email-div {
    width: 95%;
    justify-content: space-between;
  }

  .email {
    display: none;
  }

  .email-div img {
    display: none;
  }

  .menu-button {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    z-index: 1000;
  }

  nav a {
    color: #ffffff;
    background-color: #003d5c;
    padding: 1rem;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.4rem;
  }

  nav a:hover {
    background-color: #00699e;
  }

  nav a::after {
    display: none;
  }

  /* nav a:last-child {
    color: #ffffff;
    background-color: #003d5c !important;
    padding: none;
    border-radius: 0;
    transition: background-position 0.3s ease;
    background-size: none;
    background-position: none;
  } */
  .contact-a {
    display: none;
  }

  .mob-contact-a {
    display: block;
  }
}