.testimonials-section {
    height: 100vh;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.carousel-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.testimonials-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow: hidden;
    max-width: 1200px;
    position: relative;
    margin: 0 1rem 0 1rem;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fefefe;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    min-width: 250px;
    min-height: 320px;
    max-width: 250px;
    max-height: 320px;
    flex: 0 0 auto;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    /*   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    overflow: hidden;
}

.testimonial-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
}

.testimonial-author-info {
    display: flex;
    flex-direction: column;
}

.testimonial-author {
    font-weight: bold;
    margin: 0;
}

.testimonial-position {
    color: #777;
    margin: 0;
}

.testimonial-message {
    font-style: italic;
    color: #4b4b4b;
    background-color: #eeeeee;
    padding: 0.5rem;
    border-radius: 10px;
}

/* .carousel-controls {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.carousel-controls button {
    background: linear-gradient(90deg, #001cbd, #41a0f8);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-controls button:hover {
    background-color: #0056b3;
}

.carousel-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
 */
.arrow {
    font-size: 1.5rem;
    color: #4b4b4b;
    cursor: pointer;
    transition: scale 0.1s ease;
}

.arrow:hover {
    scale: 1.1;
}

/* sliding animation */

.slide-enter {
    animation: slideIn 0.3s forwards;
}

.slide-exit {
    animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}