/* Global Styles */
* {
  margin: 0;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --text-color: #333;
  --background-color: #f4f4f4;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.gradient-text {
  background: linear-gradient(90deg, #001cbd, #41a0f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.section-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  /* Increased margin for separation */
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh !important;
}

@media (max-width: 768px) {
  section {
    height: auto !important;
  }
}